.container {
    padding: 20px 24px;
}

// flex
.flex {
  display: flex;

  &.jc {
    &-sb {
      justify-content: space-between;
    }
  }

  &.ai {
    &-c {
      align-items: center;
    }
  }
}

// antd reset styles
.icon.anticon {
  font-size: 20px;
}
