.container {
    padding: 20px 24px;
}

.middle {
  display: flex;
  height: calc(100vh - 40px);
  justify-content: center;
  align-items: center;
}

// flex
.flex {
  display: flex;

  &.jc {
    &-sb {
      justify-content: space-between;
    }
  }

  &.ai {
    &-c {
      align-items: center;
    }
  }
}

@for $i from 1 through 300 {
  .m-#{$i}-b {
    margin-bottom: $i + px;
  }
}

// antd reset styles
.icon.anticon {
  font-size: 20px;
}
